/* Вспомогательные (вне контента) */
.separator {
    min-height: 25px;
}

/* Глобальные */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: "Geneva", "sans-serif";
    font-style: normal;
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.btn {
    appearance: none;
    display: inline-block;
    margin: 0;
  
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  
    color: inherit;
    background-color: transparent;
    text-decoration: none;
  
    border: none;
    box-shadow: none;
    cursor: pointer;
}

/*
Цвета:
Самый светлый (активный пункт, текст лого): FCFCFC
Неактивный пункт: C4C7CC
фон меню (темно-синий): 191D36
Фон кнопки: FFFEF9
Текст кнопки: A1A3AF
Текст активной кнопки: 11172D
*/

/* Макросетки */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #191D36;
    color: #C4C7CC;
}

.content {
    margin: 8px 0;
}

/* Списки меню */

.menu__wrap {
    width: 60%;
}

.nav__menu_wrap {
    max-width: 20%; /* УДАЛИТЬ!!! */

    border-radius: 6px;
    background-color: #191D36;
    color: #C4C7CC;
}

.menu__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.nav__menu_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.nav__menu_item {
    margin-top: 6px;
    margin-bottom: 6px;
}

.menu__item_current,
.nav__menu_item_current {
    color: #FCFCFC;
    font-weight: bold;
}

.menu__item_link,
.nav__menu_link {
    width: 100%;
    transition: 0.25s ease-out;
}

.menu__item_link:hover,
.nav__menu_link:hover {
    color: #FCFCFC;
    background-color: #070914;
    border-radius: 6px;
}

.menu__item_text {
    padding: 6px 14px;
}

.nav__menu_text {
    padding: 6px 14px;
    padding-right: 45px;
}

.nav__menu_item_current {
    position: relative;
}

.nav__menu_item_current .nav__menu_text::after {
    position: absolute;
    content: "";
    right: 12px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-right: 2px solid #08EEBD;
    border-bottom: 2px solid #08EEBD;
    transform: rotate(45deg);
}

/* Доп.элементы (лого, кнопки и пр.) */

.main__btn_wrap {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__btn {
    margin-right: 8px;
    margin-left: auto;
    padding: 6px 14px;
    max-width: 125px;
    color: #A1A3AF;
    background-color: #FFFEF9;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.25s ease-out;
}

.main__btn:hover {
    border: 1px solid #FFFEF9;
    color: #FFFEF9;
    background-color: transparent;
}

.logo__wrap {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__link:hover {
    color: #FCFCFC;
}

.logo__text {
    padding: 6px 14px;
    text-transform: uppercase;
    font-weight: bold;
}
